@charset "UTF-8";

body {
    background-color: rgb(201, 239, 201);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(5, 47, 5);
}
h2 {
    color: rgb(26, 102, 26);
}
#principal {
    text-align: center;
}
.basico {
    background-color: black;
}
.intermediario{
    background-color: white;
}
.avancado {
    background-color: brown;
}